@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-white: #fff;

    --primary-color: #D48700;
    --dark-color: #1f1f1f;
    --darkest-color: #1B1B1B;
    --light-grey: #EEEEEE;
    --dark-grey: #EEEEEE;

    /* --primary-color: #F81A2C;
    --dark-color: #0F1112;
    --darkest-color: #070707;
    --light-grey: #EEEEEE;
    --dark-grey: #EEEEEE; */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--darkest-color);
}

a {
    text-decoration: none;
    color: var(--light-grey);
}

/* CONTENT */

.content {
    width: 950px;
    margin: 0 auto;
    padding-top: 40px;
}

/* HEADER */

.header {
    width: 100%;
    padding: 64px;
    background-color: var(--primary-color);
    font-size: 48px;
    color: var(--light-grey);
}

.header__title {
    margin-bottom: 16px;
    font-size: 32px;
}

.header__main-news {
    margin-bottom: 24px;
    font-size: inherit;
    font-weight: 200;
}

.header__date {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 300;
}

/* BUTTONS */

.btn {
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color: var(--primary-color);
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

.btn--light {
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
}

/* PARAGRAPH */

.paragraph {
    padding: 16px;
    background-color: var(--dark-color);
    box-shadow: 0 2px 8px 1px var(--darkest-color);
    font-size: 16px;
    color: var(--light-grey);
}

/* ALERT */

.alert {
    width: 360px;
    padding: 16px 24px;
    background-color: var(--dark-color);
    box-shadow: 0 2px 8px 1px var(--darkest-color);
    border: 2px solid transparent;
    position: fixed;
    left: 0;
    bottom: -64px;
    z-index: 3;
    transition: all .4s;
}

.alert__title {
    margin-bottom: 8px;
}

.alert__message {
    margin-bottom: 32px;
}

.alert:hover {
    bottom: 0;
    border: 2px solid var(--primary-color);
}

.alert__body {
    color: var(--light-grey);
}

/* BANNER */

.banner {
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--dark-color);
    box-shadow: 0 2px 8px 1px var(--darkest-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.banner__content {
    padding: 20px;
}

.banner__tags {
    left: 0;
    bottom: 0;
}

/* TAG */

.tag {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 8px;
    color: var(--light-grey);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: .2s;
}

.tag:last-child {
    margin-right: 0;
}

.tag:hover {
    color: var(--primary-color);
}


/* NEWS CARD */

.news-card {
    width: 100%;
}

.news-card__data {
    width: 100%;
    min-height: 360px;
    position: relative;
    margin-bottom: 40px;
}

.news-card__img {
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-card__img--1 {
    background-image: url('./img/back1.jpg');
}

.news-card__img--2 {
    background-image: url('./img/back2.jpg');
}

.news-card__img--3 {
    background-image: url('./img/back3.png');
}

.news-card__content {
    width: 55%;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.news-card__subtitle {
    color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 1.3px;
    margin-bottom: 8px;
}

.news-card__title {
    color: var(--light-grey);
    margin-bottom: 24px;
}

.news-card__tags {
    list-style: none;
    margin-top: 24px;
}

.news-card__tags li {
    display: inline-block;
    padding-right: 8px;
    transition: all .5s ;
}

.news-card__tags li a {
    font-size: 13px;
    transition: all .3s;
}

.news-card__tags li:last-child {
    padding-right: 0;
}

.news-card__tags li a:hover {
    color: var(--primary-color);
    font-size: 16px;
}